:root {
    --primary: #182C61;
    --secondary: #82589F;
    --tertiary: #CAD3C8;
    --light-dark: #4b6584;
    --dark: #000000;
    --border-radius: .3rem;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Staatliches', cursive; */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%; 
}
  
body {
    margin: 0; 
    background: linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 1)
    ), url('../images/city-bg.jpg') no-repeat fixed;
    background-position: center;
    font-family: 'Open Sans', sans-serif;

}

.logo {
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

.hero {
    padding-top: 10px;
}

.hero-p {
    font-family: 'Staatliches', cursive;
    color: var(--dark);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    font-weight: lighter;
    font-size: 30px;
    text-align: left;
}

.callout {
    background-color: rgba(202 , 211, 200, 0.5);
    border-radius: 10px;
}

#callout1, #callout2 {
    background-color: rgba(202 , 211, 200, 0.5);
    border-radius: 0px 0px 10px 10px;
    border-top: 0px;
}

.form-search {
    background-color: rgba(202 , 211, 200, 0.4);
}

.form-email {
    background-color: rgba(202 , 211, 200, 0.6);
}

h3 {
    font-family: 'Staatliches', cursive;
}

h5 {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.button {
    border-radius: 10px;
    background-color: var(--light-dark);
}

.button:hover {
    background-color: #000000;
}

.eventbutton {
    border-radius: 10px;
    background-color: var(--light-dark);
    padding: 0px 10px 0px 10px;
}

.eventbutton:hover {
    background-color: #000000;
}

.mainEvent, .mainFood {
    border-radius: 10px;
    padding: 15px;
    background-color: var(--tertiary);
    margin: 10px;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

.mainEvent:hover, .mainFood:hover {
    box-shadow: 0px 4px 5px black;
}

.eventlist, .foodlist {
    font-family: 'Staatliches', cursive;
    font-weight: lighter;
    font-size: 22px;
    border-bottom: 1.25px solid var(--dark);
}
.foodphone, .foodsite, .foodstreet, .eventdate {
    font-family: 'Staatliches', cursive;
    font-weight: lighter;
    font-size: 18px;
    
}

.title {
    background-color: rgba(202 , 211, 200, 0.5);
    border-radius: 10px 10px 0px 0px;
    margin: 0px;
    padding: 10px;
}